# Arquivos de compilação Python
*.pyc
*.pyo
__pycache__
.idea/
# Diretórios de ambiente virtual
myenv/
.env
# Arquivos de dependências gerados
pip-log.txt
pip-delete-this-directory.txt
lib
scripts

# Arquivos de configuração de ambiente virtual
pyvenv.cfg

include/